<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">
    <script src="../static/frontpage.js"></script>
    <title>Overview of restaurant websites</title>
</head>
<body>
    
    <div id="canvas" class="container">
        <h1 class="twelve columns">Welcome!</h1>
        <h3 class="twelve columns">Choose the restaurant website you would like to visit</h3>
    </div>

    <div class="container">
    <br>
    <br>
    <br>
    <a href="http://localhost:5000/login"><button>Login to the Admin via standard form</button></a>
    <br>
    <a href="http://localhost:5000/signup"><button>Signup to the Admin via standard form</button></a>
    <br>
    <a href="http://localhost:5000/login-api"><button>Signup to the Admin via Login-Api</button></a>
    <br>
    <a href="http://localhost:5000/signup-api"><button>Signup to the Admin via Signup-Api</button></a>
</div>
</body>
</html>